header {
    width: 100%;
    padding: 4%  0 2% 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.game-btns-container {
    width: 26%;
    flex-direction: row;
    justify-content: space-between;
}

.header-btn {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.8rem;
    color: var(--light-gray);
}

.header-btn:hover {
    transform: scale(1.1);
}