.setting-container {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

form {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.input-container {
    height: 22%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.input-container > label {
    padding: 2%;
    font-size: 1.8rem;
    color: var(--main-yellow);
}

.input-container > select {
    padding: 2%;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 8px;
    color: rgb(18, 18, 18);
    background: var(--light-gray);
}

.input-container > select > option {
    cursor: pointer;
    background: var(--light-gray);
}

.start-btn {
    border: none;
    cursor: pointer;
    padding: 1.4rem;
    font-size: 3rem;
    background: none;
    width: fit-content;
    color: var(--light-gray);
}