.shop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    animation: slide-down 0.4s;
    background: var(--main-trasparent-black);
}

.shop >.close-modal-btn {
    top: 2%;
    right: 6%;
    cursor: pointer;
    font-size: 2.4rem;
    position: absolute;
    color: var(--main-yellow);
    text-shadow: 4px 4px 6px rgb(21, 21, 21);
}

.shop-container {
    width: 88vw;
    height: 100%;
    display: block;
    overflow-y: scroll;
}

.shop-container::-webkit-scrollbar {
    width: 0;
}

.spell-item-container {
    color: var(--light-gray);
    padding: 4px;
    height: 120px;
    font-size: 0.8rem;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.spell-item-container > * {
    height: 100%;
    padding: 6px;
    align-items: center;
    justify-content: center;
}
.spell-cost-container {
    font-size: 1.6rem;
    color: var(--main-yellow);
}

.spell-name-container {
    font-size: 1rem;
}

.shop-container > .purchsed {
    background: rgba(146, 145, 145, 0.19);
}