
.spell-modal {
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 34vh;
    position: fixed;
    animation: slide-up 0.4s;
    transform: translate(-50%, 0%);
    background: var(--main-trasparent-black);
}

.spell-list-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.spell-list {
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 8px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px, 1fr);
}

.spell-modal > .close-modal-btn {
    top: 8px;
    right: -26px;
    z-index: 5;
    font-size: 2rem;
    padding: 4px 12px;
    border-radius: 8px;
    position: absolute;
    color: var(--main-yellow);
    transform: translate(-100%, -100%);
    background: var(--main-trasparent-black);
}

.listed-spell {
    padding: 2px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    align-content: center;
    box-sizing: border-box;
    flex-direction: column;
    color: var(--dark-gray);
    justify-content: flex-start;
    background: var(--light-gray);
}

.listed-spell:hover {
    cursor: pointer;
    background: rgb(237, 233, 194);
}

.listed-spell:active {
    transition: 0.1s;
    transform: scale(0.90);
}

.listed-spell > h3 {
    padding: 6px 0 12px 0;
    justify-self: flex-start;
}

.listed-spell > h4 {
    font-weight: 400;
    font-size: 1.2rem;
}
