.wizard {
    cursor: pointer;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.stats-contianer {
    gap: 2%;
    width: 98%;
    justify-items: center;
    grid-auto-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.wizard-hat {
    font-size: 2rem;
}

.stats-contianer > h4 {
    font-weight: 400;
}

.wizard-hp {
    color: rgb(139, 4, 4);
}

.wizard-mp {
    color: rgb(13, 4, 139);
}

.wizard-gold {
    color: goldenrod;
}

.wizard-level {
    color: rgb(10, 10, 10);
}

.player {
    border: 6px solid whitesmoke;
}

.target {
    cursor: crosshair;
}

.target:hover {
    transform: scale(0.98);
}